@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*----------------------------------------------- Special paddings/margins/text */

html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*----------------------------------------------- Body */

body {
  background-color: #634087;
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  min-height: 100vh;
}

/*----------------------------------------------- Nav */

.navbar-brand {
  font-weight: 900;
  font-size: 1.5em;
}

.tagline {
  font-size: 0.5em;
  font-weight: 400;
  padding-top: 1rem;
}

nav {
  background: #c785ec;
  border-bottom: double 3px #8549a7;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

.navbar-toggler {
  background-color: #a86add;
  border: 0.5px solid #634087;
}

.navbar-toggler:hover {
  background-color: #deb7ff;
}

.navbar-nav li {
  padding-left: 2rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.navbar .nav-link:hover{
  font-weight: 800;
}

/*----------------------------------------------- Footer */

footer {
  color: white;
  margin-top: auto;
  text-align: center;
  padding-top: 1rem;
}

/*----------------------------------------------- Home Page */
/*----------------------------------------------- Game Area */
  
.game-board {
  width: 19rem;
  height: 19rem;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  cursor: crosshair; /* changes cursor to crosshair when mouse is over the game board*/
  padding-bottom: 2rem;
}
  
.grave {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}
  
.grave:after {
  display: block;
  background: url('../images/headstone.png') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: -10px;
}
  
.zombie {
  background: url('../images/zombie.png') bottom center no-repeat;
  background-size: 160%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
  
/* adjusts position of zombie when it transitions up so the right amount shows */
.grave.up .zombie {
  top: -10%;
}

/*----------------------------------------------- Controls Area */

.control-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.score-board, .timer {
  text-align: center;
  background-color: #deb7ff;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  border: 5px solid #a86add;
  padding: 0.2rem;
}

.time-heading, .score-heading {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.control-buttons {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
}

.start, .difficulty, .dark-light-mode {
  margin: 0.5em;
  padding: 0.5em;
  background-color: #a86add;
  color: black;
  border-radius: 10px;
  border: 5px solid #8549a7;
}

.start:hover, .difficulty:hover, .dark-light-mode:hover {
  background-color: #deb7ff;
}

/*------------------------------------ Dark Mode Button - Changes to Styling*/

.dark-mode {
  background-color: black;
}

.dark-mode nav {
  background-color: #8549a7;
}

.dark-mode .navbar-toggler {
  background-color: #8549a7;
  border: 1px solid black;
}

.dark-mode .timer {
  background-color: #8549a7;
  color: black;
}

.dark-mode .score-board {
  background-color: #8549a7;
  color: black;
}

.dark-mode .start {
  background-color: #8549a7;
}

.dark-mode .difficulty {
  background-color: #8549a7;
}

.dark-mode .dark-light-mode {
  background-color: #8549a7;
}

.dark-mode .navbar-toggler:hover {
  background-color: #a86add;
}

.dark-mode .start:hover {
  background-color: #a86add;
}

.dark-mode .difficulty:hover {
  background-color: #a86add;
}

.dark-mode .dark-light-mode:hover {
  background-color: #a86add;
}

.dark-mode footer {
  color:#deb7ff;
}

/*----------------------------------------------- Choose Your Difficulty Modal */
/* adapted from tutorial - https://www.youtube.com/watch?v=XH5OW46yO8I

/* Modal covers the entire screen and centers the box containing buttons to select difficulty */
#modal-container-difficulty {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 1;
}

/* Changed the modal opacity to be visible */
#modal-container-difficulty.show {
  opacity: 1;
  pointer-events: auto;
}

/* styling content within the modal */
#modal-content-difficulty {
  max-width: 80%;
  border: 5px double #634087;
  border-radius: 10px;
  box-shadow: 3px 7px 10px rgba(255, 255, 255, 0.4);
  padding: 2rem;
  color: white;
  text-align: center;
  z-index: 1;
}

/* styling div holding buttons */
.difficulty-buttons {
  display: flex;
  flex-direction: column;
}

.skillbtn {
  border-radius: 10px;
  background-color: #634087;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
}

#close-modal2 {
  background-color: #c785ec;
  border: #634087;
  margin: 1rem;
}

/*----------------------------------------------- How To Play Page */

.instructions-header {
  text-align: center;
  font-weight: 900;
  margin: 2rem;
  text-decoration: underline;
  color: white;
  font-size: 3rem;
}

.instructions-container {
  border: 3px double white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.game-screenshot {
  height: 50%;
  width: 50%;
}

.screenshot {
  margin-top: 1rem;
  width: 50%;
}

.time-score-screenshot {
  margin-top: 1rem;
  width: 50%;
}

.instruction-text {
  text-align: center;
  font-weight: 600;
  color: white;
  margin: 1rem;
  font-size: 0.8rem;
}

/*----------------------------------------------- Contact Us Page */

h1 {
  text-align: center;
  color: white;
  padding-top: 2rem;
}

h4 {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
}

.fa-gamepad {
  padding: 1.5rem;
  font-size: 3rem;
  -webkit-text-stroke: 3px black;
}

h5 {
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}

.page-break {
  width: 60%;
  margin: auto;
  border-width: 5px;
  border-style: double;
  color: black;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  text-align: center;
}

#fname, #lname, #subject, #email, #message {
  border-radius: 10px;
  border: 3px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.4rem;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.reset-button, .submit-button {
  margin-top: 0.8rem;
  width: 40%;
  background-color: #a86add;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid black;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
}

.reset-button:hover, .submit-button:hover {
  background-color: #deb7ff;
}

h6 {
  margin: 2rem;
  text-align: center;
  color: white;
  font-weight: 200;
}

/*----------------------------------------------- Thankyou Page */

.thankyou {
  padding: 5rem;
}

.thankyou-text {
  padding: 1rem;
  color: white;
  font-weight: 400;
  text-align: center;
}

/*----------------------------------------------- 404 Error Page */

.error-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

h1 {
  padding-bottom: 1.5rem;
}

.zombie-image {
  height: 500px;
  top: 0;
}

.biohazard-symbol {
  height: 50px;
  margin: 2rem;
}

.error-page-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

.home-button {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.btn {
  background-color: #c785ec;
  color: black;
  border: 5px solid #a86add;
}


/*--------------------------------------------Media Queries*/

/*------- For Tablet screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*------- Home Page */
  /*------- Game Area */
  .game-board {
    width: 35rem;
    height: 25rem;
  }

  .grave.up .zombie {
    top: 10%;
  }

  /*------- Control Area With Game Buttons */
  .control-area {
    padding-top: 2rem;
    justify-content: space-evenly;
  }

  .score-board, .timer {
    width: 100%;
    padding: 1rem;
  }
  
  .control-buttons {
    width: 25%;
  }
  
  .start, .difficulty, .dark-light-mode {
    padding: 0.8em;
  }

  /*------- How To Play Page */
  .time-score-screenshot {
    width: 40%;
  }

  .screenshot {
    width: 40%;
  }

  /*------- Contact Us Page */
  #fname, #lname, #subject, #email, #message {
    width: 60%;
    align-self: center;
  }

  .reset-button, .submit-button {
    width: 20%;
  }
}

/*------- For Laptop screens */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /*------- Home Page */
  /*------- Nav */
  .navbar-brand {
    font-size: 2em;
  }

  .tagline {
    font-size: 0.5em;
  }

  .nav-link {
    font-size: 1.2rem;
    font-weight: 600;
  }

  /*------- Game Area */
  .game-board {
    width: 40rem;
    height: 40rem;
    margin-top: 1rem;
  }

  .grave.up .zombie {
    top: 5%;
  }

  .grave:after {
    width: 100%;
    height: 6rem;
  }

  /*------- Control Area With Game Buttons */
  .control-area {
    padding-top: 2rem;
    justify-content: space-evenly;
  }

  .score-board, .timer {
    width: 100%;
    padding: 1.5rem;
  }
  
  .control-buttons {
    width: 30%;
  }
  
  .start, .difficulty, .dark-light-mode {
    padding: 1rem;
  }

  /*------- How to play Page */

  .time-score-screenshot {
    width: 30%;
  }

  .instruction-text {
    font-size: 1rem;
  }

  .screenshot {
    width: 30%;
  }

  /*------- Contact Us Page */
  #fname, #lname, #subject, #email, #message {
    width: 40%;
    align-self: center;
  }

  .reset-button, .submit-button {
    width: 15%;
  }
}

/*------- For Large Laptop screens */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  /*------- Home Page */
  /*------- Nav */
  .navbar-brand {
    font-size: 2em;
  }

  .tagline {
    font-size: 0.5em;
  }

  .nav-link {
    font-size: 1.2rem;
    font-weight: 600;
  }

  /*------- Game Area */
  .game-board {
    width: 40rem;
    height: 40rem;
    margin-top: 1rem;
  }

  .grave.up .zombie {
    top: 5%;
  }

  .grave:after {
    width: 100%;
    height: 6rem;
  }

  /*------- Control Area With Game Buttons */
  .control-area {
    padding-top: 2rem;
    justify-content: space-evenly;
  }

  .score-board, .timer {
    width: 150%;
    padding: 1.5rem;
  }
  
  .control-buttons {
    width: 25%;
  }

  button {
    font-size: 1.4rem;
    font-weight: 500;
  }

  .time-heading, .score-heading {
    font-size: 1.2rem;
  }

  .start, .difficulty, .dark-light-mode {
    padding: 1.3rem;
  }

  /*------- How to play Page */

  .time-score-screenshot {
    width: 30%;
  }

  .instruction-text {
    font-size: 1.5rem;
  }

  .screenshot {
    width: 30%;
  }

  /*------- Contact Us Page */

  .page-break {
    width: 30%;
  }
  
  #fname, #lname, #subject, #email, #message {
    width: 40%;
    align-self: center;
  }

  .reset-button, .submit-button {
    width: 12%;
  }

  /*------- Thank You Page */
  .thankyou {
    font-size: 3rem;
  }

  .thankyou-text {
    font-size: 2rem;
  }
}

/*------- For Desktop screens */
@media screen and (min-width: 1920px) {
  /*------- Home Page */
  /*------- Nav */
  .navbar-brand {
    font-size: 2em;
  }

  .tagline {
    font-size: 0.7em;
  }

  .nav-link {
    font-size: 1.2rem;
    font-weight: 600;
  }

  /*------- Game Area */
  .game-board {
    width: 45rem;
    height: 45rem;
    margin-top: 1rem;
  }

  .grave.up .zombie {
    top: 5%;
  }

  .grave:after {
    width: 100%;
    height: 6rem;
  }

  /*------- Control area with game buttons */
  .control-area {
    padding-top: 2rem;
    justify-content: space-evenly;
  }

  .score-board, .timer {
    width: 150%;
    padding: 1.5rem;
  }
  
  .control-buttons {
    width: 30%;
  }

  button {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .time-heading, .score-heading {
    font-size: 1.4rem;
  }

  .start, .difficulty, .dark-light-mode {
    padding: 1.3rem;
  }

  /*------- How to play Page */

  .time-score-screenshot {
    width: 30%;
  }

  .instruction-text {
    font-size: 1.5rem;
  }

  .screenshot {
    width: 30%;
  }

  /*------- Contact Us Page */
  .page-break {
    width: 20%;
  }
  
  #fname, #lname, #subject, #email, #message {
    width: 30%;
    align-self: center;
  }

  .reset-button, .submit-button {
    width: 10%;
  }

  /*------- Thank You Page */
  .thankyou {
    padding-top: 10rem;
    font-size: 4rem;
  }

  .thankyou-text {
    font-size: 2.5rem;
  }

  /*------- Footer */
  footer {
    font-size: 1.5rem;
  }
}