@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*----------------------------------------------- Special paddings/margins/text */

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

/*----------------------------------------------- Body */

body {
    background-color: #634087;
    padding: 0;
    margin: 0;
    font-family: Rubik, sans-serif;
}

/*----------------------------------------------- Nav */

.navbar-brand {
    font-weight: 900;
    font-size: 1.5em;
}

.tagline {
  font-size: 0.3em;
  font-weight: 400;
}

.navbar-nav li {
    padding-left: 2rem;
}

nav {
    background: #c785ec;
    border-bottom: solid 3px #8549a7;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

.navbar-toggler {
    background-color: #a86add;
    border: 0.5px solid #634087;
}

.navbar-toggler:hover {
    background-color: #deb7ff;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/*----------------------------------------------- Game Area */
  
  .game-board {
    width: 19rem;
    height: 19rem;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    cursor: crosshair; /* changes cursor to crosshair when mouse is over the game board*/
  }
  
  .grave {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
  }
  
  .grave:after {
    display: block;
    background: url('../images/headstone.png') bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: -10px;
  }
  
  .zombie {
    background: url('../images/zombie.png') bottom center no-repeat;
    background-size: 160%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
  }
  
  .grave.up .zombie {
    top: -10%;
  }

  /*----------------------------------------------- Controls Area */

  .control-area {
    display: flex;
    flex-direction: column;
  }

  .score-board, .timer {
    text-align: center;
    background-color: #deb7ff;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .control-buttons {
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    align-self: center;
  }

  .start, .difficulty, .dark-light-mode {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #a86add;
    color: black;
    border-radius: 10px;
  }

  
  .start:hover, .difficulty:hover, .dark-light-mode:hover {
    background-color: #deb7ff;
  }

  /*----------------------------------------------- Choose Your Difficulty Modal */
  /* adapted from tutorial - https://www.youtube.com/watch?v=XH5OW46yO8I

 /* Modal covers the entire screen and centers the box containing buttons to select difficulty */
  #modal-container {
    /*box-sizing: border-box;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1;
  }

  /* Changed the modal opacity to be visible */
  #modal-container.show {
    opacity: 1;
    pointer-events: auto;
  }

  /* styling content within the modal */
  #modal-content {
    max-width: 80%;
    border: 5px double #634087;
    border-radius: 10px;
    box-shadow: 3px 7px 10px rgba(255, 255, 255, 0.4);
    padding: 2rem;
    color: white;
    text-align: center;
    z-index: 1;
  }

  /* styling div holding buttons */
  .difficulty-buttons {
    display: flex;
    flex-direction: column;
  }

  .skillbtn {
    border-radius: 10px;
    background-color: #634087;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  #close-modal {
    background-color: #c785ec;
    border: #634087;
    margin: 1rem;
  }